@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --color-header: #1d728f;
    --color-main: #86c6db;
    --color-aside: #ffddc3;
    --color-footer: #8f5316;
    --text-header: #db9c5c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 200px 600px 600px;
    grid-template-rows: 10%;
    grid-template-areas: 
    "header header header header"
    "section main main main"
    "section main main main"
    "section main main main"
    ;
}

header{
    grid-area: header;
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    grid-area: section;
    background-color: var(--color-aside);
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 600;
}

section nav{
    
    
}
section nav ul{
    
}

main{
    grid-area: main;
    background-color: var(--color-main);

}

header img{
    width: 50px;
    height: 50px;
    flex-wrap: nowrap;
    
 
}

main img{
    width: 300px;
    height: 200px;
}


